#arena
{
	margin: 0 auto;
	margin-top: 50px;
	width: 802px;
	height: 520px;
}

body
{
    background-color: #696969;
}

#game-canvas
{
	border: 1.5px solid blue;
}

#fps{
	position: absolute;
	margin-top: -2em;
	z-index: 1;
	color: #1E90FF;
	font: bold 20px fantasy;
}
#music{
    display: none;
}